* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 28px;
}

header {
  height: 110px;
  color: #fff;
  background-color: #2C3E50;
  /* background-image: url(img/header.svg); */
  background-size: cover;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.header-container h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 110px;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.search {
  position: relative;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;
  color: rgb(33, 37, 41);
  height: 45px;
}

.search .search-input {
  width: calc(100% - 90px);
  max-width: 1350px;
}

.search-input {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: 10px 5px;
  border-radius: 5px;
  border: 1px solid rgb(206, 212, 218);
  color: rgb(123, 138, 139);
  cursor: text;
  display: block;
  font-size: 22px;
  font-weight: 400;
  height: 45px;
  padding: 8px 15px;
  padding-left: 65px;
  padding-right: 85px;
}

.search-button {
  background-color: rgb(214, 44, 26);
  border: 1px solid rgb(202, 42, 25);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  height: 45px;
  padding: 8px 15px;
  width: 90px;
}

.search-btn:active, .search-btn:focus {
  outline: 0;
  border: 0;
}

.keyboard {
  position: absolute;
  width: 48px;
  height: 28px;
  background-image: url(../img/tia.png);
  right: 120px;
  cursor: pointer;
  opacity: .8;
  transition: .2s;
}

.keyboard:hover {
  opacity: 1;
}

.keyboard-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 590px;
  top: 60px;
  left: 25%;
  font-size: 1.5rem;
  line-height: 15px;
  z-index: 5;
  background: #2C3E50;
  display: none;
  animation: anim-effect 0.5s ease-out forwards;
}

.keyboard-container.active {
  display: initial;
}

.key {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  margin: 5px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.key:hover {
  background-color: rgba(176, 193, 219, 0.8);
  color: rgb(255, 255, 255);
}

.key.tap-shift {
  flex-direction: column;
}

.shift {
  width: 80px;
}

.shift.active {
  background: rgba(176, 193, 219, 0.8);
  color: rgb(255, 255, 255);
}

.enter {
  width: 83px;
}

.space {
  width: 400px;
}

.backspace {
  width: 82px;
}

.left, .right {
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.right {
  background-image: url(../img/right.svg);
  background-position: right;
}

.left {
  background-image: url(../img/left.svg);
}

.lang-change {
  width: 45px;
}

.key:active {
  animation: anim-effect 0.5s ease-out forwards;
}

@keyframes anim-effect {
  0% {
      opacity: 0.5;
      transform: scale3d(0.7, 0.7, 1);
  }
  to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
  }
}

/* .clear {
  position: absolute;
  width: 48px;
  height: 28px;
  background-image: url(../img/clear.svg);
  background-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  right: 180px;
  cursor: pointer;
  opacity: .8;
  transition: .2s;
}

.clear:hover {
  opacity: 1;
} */

.info {
  height: 40px;
  margin: 0;
  padding: 0 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: rgb(214, 44, 26);
}

.swiper {
  position: relative;
}

.swiper-container {
  width: 90%;
  height: 100%;
  padding: 0 14px;
  box-sizing: content-box;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: block;
  /* width: 300px !important;
  max-width: 300px; */
  border: 0;
  margin: 10px 0px;
  overflow: hidden;
  margin-right: 50px;
}

.card-title {
  display: block;
  height: 43px;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 24px;
  padding: 15px;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.card-poster {
  height: 445px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-year {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 15px;
  padding-bottom: 5px;
}

.card-imbd {
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}

/* .swiper {
  position: relative;
}

.swiper-button {
  position: absolute;
  width: 70px;
  height: 445px;
  border-radius: 5px;
  bottom: 155px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: .3s;
}

.swiper-button-next {
  background-image: url(../img/next.svg);
  right: -70px;
}

.swiper-button-prev {
  background-image: url(../img/prev.svg);
  left: -70px;
}*/

/*
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
} */

footer {
  width: 100%;
  min-height: 60px;
  background-color: #33333f;
  border-top: 2px solid #242A33;
  margin-top: 40px;
}



#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
