* {
  box-sizing: border-box;
  transition: .2s;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 28px;
}

header {
  height: 110px;
  color: #fff;
  background-color: #2C3E50;
  background-size: cover;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.header-container h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 110px;
}

.header-container h1:hover {
  cursor: pointer;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.search {
  position: relative;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;
  color: rgb(33, 37, 41);
  height: 45px;
}

.search .search-input {
  width: calc(100% - 90px);
  max-width: 1350px;
}

.search-input {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: 10px 5px;
  border-radius: 5px;
  border: 1px solid rgb(206, 212, 218);
  color: rgb(123, 138, 139);
  cursor: text;
  display: block;
  font-size: 22px;
  font-weight: 400;
  height: 45px;
  padding: 8px 15px;
  padding-left: 65px;
  padding-right: 115px;
  margin-right: 10px;
}

.search-button {
  background-color: rgb(214, 44, 26);
  border: 1px solid rgb(202, 42, 25);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  height: 45px;
  padding: 8px 15px;
  width: 90px;
}

.search-button:active {
  animation: anim-effect 0.5s ease-out forwards;
}

.search-btn:active, .search-btn:focus {
  outline: 0;
  border: 0;
}

.keyboard {
  position: absolute;
  width: 48px;
  height: 28px;
  background-image: url(../img/tia.png);
  right: 120px;
  cursor: pointer;
  opacity: .8;
  transition: .2s;
}

.keyboard:hover {
  opacity: 1;
}

.micro {
  position: absolute;
  width: 47px;
  height: 46px;
  background-image: url(../img/micro.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: 171px;
  cursor: pointer;
  opacity: .8;
  transition: .2s;
}

.micro:hover {
  opacity: 1;
}

.clear {
  position: absolute;
  width: 25px;
  height: 11px;
  background-image: url(../img/clear.svg);
  background-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  right: 214px;
  cursor: pointer;
  opacity: .8;
  transition: .2s;
}

.clear:hover {
  opacity: 1;
}

.keyboard-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 590px;
  top: 60px;
  left: 30%;
  font-size: 1.5rem;
  line-height: 15px;
  z-index: 5;
  background: #2C3E50;
  display: none;
  animation: anim-effect 0.5s ease-out forwards;
}

.keyboard-container.active {
  display: initial;
}

.key {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  margin: 5px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.key:hover {
  background-color: rgba(176, 193, 219, 0.8);
  color: rgb(255, 255, 255);
}

.key.tap-shift {
  flex-direction: column;
}

.shift {
  width: 80px;
}

.shift.active {
  background: rgba(176, 193, 219, 0.8);
  color: rgb(255, 255, 255);
}

.enter {
  width: 83px;
}

.space {
  width: 400px;
}

.backspace {
  width: 82px;
}

.left, .right {
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.right {
  background-image: url(../img/right.svg);
  background-position: right;
}

.left {
  background-image: url(../img/left.svg);
}

.lang-change {
  width: 45px;
}

.key:active {
  animation: anim-effect 0.5s ease-out forwards;
}

@keyframes anim-effect {
  0% {
    opacity: 0.5;
    transform: scale3d(0.7, 0.7, 1);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.info {
  height: 40px;
  margin: 0;
  padding: 0 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: rgb(214, 44, 26);
}

.swiper {
  position: relative;
}

.swiper-container {
  width: 90%;
  height: 100%;
  padding: 0 14px;
  box-sizing: content-box;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: block;
  border: 0;
  margin: 10px 0px;
  overflow: hidden;
  margin-right: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 #ccc;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .4);
  transition: box-shadow .25s linear, transform .7s;
}

.card:hover {
  box-shadow: -1px 5px 15px 0 rgba(0, 0, 0, .5);
}

.card-title {
  display: block;
  height: 43px;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 2rem;
  padding: 15px;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.card-poster {
  height: 445px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-year {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.card-imbd {
  text-align: center;
  padding: 5px;
}

.card-imbd::before {
  content: "";
  background-image: url(../img/star.png);
  width: 32px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  left: 105px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}

footer {
  width: 100%;
  min-height: 60px;
  background-color: #33333f;
  border-top: 2px solid #242A33;
  margin-top: 40px;
}

.footer-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.github {
  display: flex;
  align-items: center;
}

.github a {
  color: #fff;
  margin-left: 10px;
}

.rs-school p {
  color: #fff;
}

.loader {
  position: absolute;
  right: 266px;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  /* transform-origin: 40px 40px; */
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 9px;
  left: 37px;
  width: 3px;
  height: 10px;
  border-radius: 20%;
  background: rgb(0, 0, 0);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .keyboard {
    display: none;
  }
  .micro {
    right: 95px;
  }
  .search-input {
    padding-right: 46px;
  }
  .loader {
    right: 196px;
  }
  .clear {
    width: 25px;
    height: 11px;
    right: 144px;
  }
}
